<div class="container" id="container">
  <div class="form-container log-in-container">
    <form action="#">
      <h1>Login</h1>
      <div class="social-container">
        <img src="https://p.kindpng.com/picc/s/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png" width="80" height="80">
        <img src="https://p.kindpng.com/picc/s/163-1636340_user-avatar-icon-avatar-transparent-user-icon-png.png" width="80" height="80">
      </div>
      <input type="email" placeholder="E-mail" autocomplete="on"/>
      <input type="password" placeholder="Password" autocomplete="on" />
      <br>
      <a href="#">Forgot your password?</a>
      <button><a href="#" style="color: white">Log In</a></button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Login to access new features!</h1>
        <li>Create your own personal J-Tube channel!</li>
        <li>Subscribe to your favorite channels!</li>
        <li>Upload videos to your collection!</li>
        <li>Create playlists and more!</li>
      </div>
    </div>
  </div>
</div>
